body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: rgb(63, 63, 63);
    line-height: 30px;
    text-align: center;
    background-image: url(/home/ana/Google_Drive/lab/caesar-cipher/src/images/background1.png);
}

.text_box {
    box-align: center;
}

.button {
    display: inline-block;
    height: 30px;
    margin: 5px;
    background: #19b9e7;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}