* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: rgb(63, 63, 63);
}

header {
    margin: 10% auto;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    text-align: center;
}

.box {
    width: 20rem;
    margin: 5%;
    padding: 0.8rem;
    background: rgba(240, 234, 234, 0.500);
    border-radius: 4px 4px 0 0;
    text-align: center;
    box-shadow: 10px 10px 20px #333333;
}

.box_text {
    display: block;
    margin: 10px 10px 10px;
    width: 80%;
    height: 200px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #333333;
    background: #cccccc;
    border: 1px solid #000000;
}

.key_box {
    width: 100px;
    height: 23px;
    padding: 3px;
    background: #cccccc;
    font-size: 22px;
    border-radius: 4px;
    border: 1px solid #000000;
    box-shadow: 1px 1px 2px #333333;
}

.button {
    width: auto;
    height: auto;
    padding: 3px;
    margin-top: 12px;
    background: #48c8d179;
    font-size: 22px;
    color: rgb(63, 63, 63);
    border-radius: 4px;
    border: 1px solid #000000;
    box-shadow: 1px 1px 2px #333333;
}

.decision_button {
    padding: 20px;
    font-size: 32px;
    box-shadow: 5px 5px 7px #333333;
}

.result {
    display: block;
    visibility: hidden;
}